
[Unit]
Description=CustomHotkey service
[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/{user}/.Xauthority"
ExecStart={path/to/bin} run
Restart=on-failureMNENeNeasfdasdf
RestartSec=5s
StartLimitBurst=5
[Install]
WantedBy=multi-user.target
WantedBy=xsession.target

